<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_De-cy</key>
	<dict>
		<key>@MMK_R_Dje-cy</key>
		<integer>20</integer>
		<key>@MMK_R_E-cy</key>
		<integer>25</integer>
		<key>@MMK_R_Gje-cy</key>
		<integer>35</integer>
		<key>@MMK_R_Ushort-cy</key>
		<integer>31</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_E-cy</key>
	<dict>
		<key>@MMK_R_Dje-cy</key>
		<integer>59</integer>
		<key>@MMK_R_Gje-cy</key>
		<integer>55</integer>
		<key>@MMK_R_Ushort-cy</key>
		<integer>41</integer>
	</dict>
	<key>@MMK_L_Gje-cy</key>
	<dict>
		<key>@MMK_R_Dje-cy</key>
		<integer>150</integer>
		<key>@MMK_R_E-cy</key>
		<integer>80</integer>
		<key>@MMK_R_Gje-cy</key>
		<integer>145</integer>
		<key>@MMK_R_Ushort-cy</key>
		<integer>121</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-41</integer>
	</dict>
	<key>@MMK_L_Kje-cy</key>
	<dict>
		<key>@MMK_R_Dje-cy</key>
		<integer>25</integer>
		<key>@MMK_R_Gje-cy</key>
		<integer>31</integer>
	</dict>
	<key>@MMK_L_Ushort-cy</key>
	<dict>
		<key>@MMK_R_Dje-cy</key>
		<integer>35</integer>
		<key>@MMK_R_Gje-cy</key>
		<integer>41</integer>
		<key>@MMK_R_el-cy</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_Yi-cy</key>
	<dict>
		<key>@MMK_R_Dje-cy</key>
		<integer>35</integer>
		<key>@MMK_R_Gje-cy</key>
		<integer>45</integer>
		<key>@MMK_R_Ushort-cy</key>
		<integer>25</integer>
	</dict>
	<key>A-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>Be-cy</key>
	<dict>
		<key>Be-cy</key>
		<integer>-35</integer>
		<key>Che-cy</key>
		<integer>-35</integer>
		<key>Dje-cy</key>
		<integer>-35</integer>
		<key>Dzhe-cy</key>
		<integer>-35</integer>
		<key>Em-cy</key>
		<integer>-49</integer>
		<key>En-cy</key>
		<integer>-35</integer>
		<key>Er-cy</key>
		<integer>-35</integer>
		<key>Ge-cy</key>
		<integer>-35</integer>
		<key>Gheupturn-cy</key>
		<integer>-35</integer>
		<key>Gje-cy</key>
		<integer>-35</integer>
		<key>Ha-cy</key>
		<integer>-25</integer>
		<key>Hardsign-cy</key>
		<integer>-35</integer>
		<key>I-cy</key>
		<integer>-35</integer>
		<key>Ii-cy</key>
		<integer>-35</integer>
		<key>Iishort-cy</key>
		<integer>-35</integer>
		<key>Iu-cy</key>
		<integer>-35</integer>
		<key>Ka-cy</key>
		<integer>-35</integer>
		<key>Kje-cy</key>
		<integer>-35</integer>
		<key>Nje-cy</key>
		<integer>-35</integer>
		<key>O-cy</key>
		<integer>-31</integer>
		<key>Pe-cy</key>
		<integer>-35</integer>
		<key>Sha-cy</key>
		<integer>-35</integer>
		<key>Shcha-cy</key>
		<integer>-35</integer>
		<key>Softsign-cy</key>
		<integer>-35</integer>
		<key>Te-cy</key>
		<integer>-35</integer>
		<key>Tse-cy</key>
		<integer>-35</integer>
		<key>Tshe-cy</key>
		<integer>-35</integer>
		<key>U-cy</key>
		<integer>-45</integer>
		<key>Ushort-cy</key>
		<integer>-45</integer>
		<key>Ve-cy</key>
		<integer>-41</integer>
		<key>Yeru-cy</key>
		<integer>-35</integer>
		<key>Yi-cy</key>
		<integer>-35</integer>
		<key>numero</key>
		<integer>-35</integer>
	</dict>
	<key>Che-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>De-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>20</integer>
		<key>De-cy</key>
		<integer>41</integer>
		<key>Ha-cy</key>
		<integer>25</integer>
		<key>ve-cy</key>
		<integer>35</integer>
	</dict>
	<key>Dze-cy</key>
	<dict>
		<key>Em-cy</key>
		<integer>-49</integer>
		<key>U-cy</key>
		<integer>-25</integer>
		<key>Ushort-cy</key>
		<integer>-25</integer>
	</dict>
	<key>E-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>76</integer>
		<key>H</key>
		<integer>55</integer>
		<key>Ha-cy</key>
		<integer>41</integer>
		<key>Ia-cy</key>
		<integer>35</integer>
		<key>Ii-cy</key>
		<integer>113</integer>
		<key>O-cy</key>
		<integer>45</integer>
	</dict>
	<key>Ef-cy</key>
	<dict>
		<key>el-cy</key>
		<integer>-25</integer>
		<key>em-cy</key>
		<integer>-25</integer>
		<key>hardsign-cy</key>
		<integer>49</integer>
		<key>lje-cy</key>
		<integer>-25</integer>
	</dict>
	<key>El-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>En-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>Er-cy</key>
	<dict>
		<key>Be-cy</key>
		<integer>49</integer>
		<key>Che-cy</key>
		<integer>49</integer>
		<key>De-cy</key>
		<integer>55</integer>
		<key>Dje-cy</key>
		<integer>66</integer>
		<key>Dzhe-cy</key>
		<integer>49</integer>
		<key>El-cy</key>
		<integer>-49</integer>
		<key>En-cy</key>
		<integer>49</integer>
		<key>Er-cy</key>
		<integer>49</integer>
		<key>Ge-cy</key>
		<integer>49</integer>
		<key>Gheupturn-cy</key>
		<integer>49</integer>
		<key>Gje-cy</key>
		<integer>49</integer>
		<key>H</key>
		<integer>49</integer>
		<key>Ha-cy</key>
		<integer>55</integer>
		<key>Hardsign-cy</key>
		<integer>66</integer>
		<key>I-cy</key>
		<integer>49</integer>
		<key>Ie-cy</key>
		<integer>-25</integer>
		<key>Ii-cy</key>
		<integer>49</integer>
		<key>Iishort-cy</key>
		<integer>49</integer>
		<key>Io-cy</key>
		<integer>-25</integer>
		<key>Iu-cy</key>
		<integer>49</integer>
		<key>Ka-cy</key>
		<integer>49</integer>
		<key>Kje-cy</key>
		<integer>49</integer>
		<key>Lje-cy</key>
		<integer>-49</integer>
		<key>Nje-cy</key>
		<integer>49</integer>
		<key>O-cy</key>
		<integer>49</integer>
		<key>Pe-cy</key>
		<integer>49</integer>
		<key>Sha-cy</key>
		<integer>49</integer>
		<key>Shcha-cy</key>
		<integer>49</integer>
		<key>Softsign-cy</key>
		<integer>49</integer>
		<key>Te-cy</key>
		<integer>66</integer>
		<key>Tse-cy</key>
		<integer>49</integer>
		<key>Tshe-cy</key>
		<integer>66</integer>
		<key>U-cy</key>
		<integer>41</integer>
		<key>Ushort-cy</key>
		<integer>41</integer>
		<key>Ve-cy</key>
		<integer>49</integer>
		<key>Yeru-cy</key>
		<integer>49</integer>
		<key>Yi-cy</key>
		<integer>49</integer>
		<key>Ze-cy</key>
		<integer>-31</integer>
		<key>Zhe-cy</key>
		<integer>-25</integer>
		<key>dje-cy</key>
		<integer>49</integer>
		<key>el-cy</key>
		<integer>-121</integer>
		<key>em-cy</key>
		<integer>-121</integer>
		<key>hardsign-cy</key>
		<integer>41</integer>
		<key>lje-cy</key>
		<integer>-121</integer>
		<key>numero</key>
		<integer>49</integer>
		<key>tshe-cy</key>
		<integer>49</integer>
	</dict>
	<key>Ereversed-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>20</integer>
		<key>De-cy</key>
		<integer>41</integer>
		<key>Ha-cy</key>
		<integer>25</integer>
		<key>ve-cy</key>
		<integer>35</integer>
	</dict>
	<key>Es-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>76</integer>
		<key>H</key>
		<integer>55</integer>
		<key>Ha-cy</key>
		<integer>41</integer>
		<key>Ia-cy</key>
		<integer>35</integer>
		<key>Ii-cy</key>
		<integer>113</integer>
		<key>O-cy</key>
		<integer>45</integer>
	</dict>
	<key>Ge-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-31</integer>
		<key>De-cy</key>
		<integer>190</integer>
		<key>Dze-cy</key>
		<integer>111</integer>
		<key>Ef-cy</key>
		<integer>156</integer>
		<key>Em-cy</key>
		<integer>111</integer>
		<key>Ereversed-cy</key>
		<integer>145</integer>
		<key>H</key>
		<integer>170</integer>
		<key>Ha-cy</key>
		<integer>170</integer>
		<key>Ia-cy</key>
		<integer>111</integer>
		<key>Ie-cy</key>
		<integer>100</integer>
		<key>Ii-cy</key>
		<integer>297</integer>
		<key>Je-cy</key>
		<integer>94</integer>
		<key>O-cy</key>
		<integer>160</integer>
		<key>Ze-cy</key>
		<integer>135</integer>
		<key>Zhe-cy</key>
		<integer>174</integer>
		<key>be-cy</key>
		<integer>100</integer>
		<key>che-cy</key>
		<integer>-31</integer>
		<key>em-cy</key>
		<integer>-82</integer>
		<key>ge-cy</key>
		<integer>35</integer>
		<key>ha-cy</key>
		<integer>-41</integer>
		<key>ia-cy</key>
		<integer>-35</integer>
		<key>iishort-cy</key>
		<integer>135</integer>
		<key>io-cy</key>
		<integer>129</integer>
		<key>kje-cy</key>
		<integer>25</integer>
		<key>lje-cy</key>
		<integer>-49</integer>
		<key>tshe-cy</key>
		<integer>156</integer>
		<key>ushort-cy</key>
		<integer>135</integer>
		<key>ve-cy</key>
		<integer>90</integer>
		<key>yi-cy</key>
		<integer>66</integer>
		<key>ze-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Gheupturn-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-31</integer>
		<key>De-cy</key>
		<integer>190</integer>
		<key>Dje-cy</key>
		<integer>145</integer>
		<key>Dze-cy</key>
		<integer>111</integer>
		<key>Ef-cy</key>
		<integer>156</integer>
		<key>Em-cy</key>
		<integer>111</integer>
		<key>Ereversed-cy</key>
		<integer>145</integer>
		<key>H</key>
		<integer>170</integer>
		<key>Ha-cy</key>
		<integer>170</integer>
		<key>Hardsign-cy</key>
		<integer>145</integer>
		<key>I-cy</key>
		<integer>129</integer>
		<key>Ia-cy</key>
		<integer>111</integer>
		<key>Ie-cy</key>
		<integer>100</integer>
		<key>Ii-cy</key>
		<integer>297</integer>
		<key>Je-cy</key>
		<integer>94</integer>
		<key>O-cy</key>
		<integer>160</integer>
		<key>Te-cy</key>
		<integer>145</integer>
		<key>Tshe-cy</key>
		<integer>145</integer>
		<key>Ze-cy</key>
		<integer>135</integer>
		<key>Zhe-cy</key>
		<integer>174</integer>
		<key>be-cy</key>
		<integer>100</integer>
		<key>che-cy</key>
		<integer>-31</integer>
		<key>el-cy</key>
		<integer>-49</integer>
		<key>em-cy</key>
		<integer>-82</integer>
		<key>ge-cy</key>
		<integer>35</integer>
		<key>ha-cy</key>
		<integer>-41</integer>
		<key>ia-cy</key>
		<integer>-35</integer>
		<key>iishort-cy</key>
		<integer>135</integer>
		<key>io-cy</key>
		<integer>129</integer>
		<key>kje-cy</key>
		<integer>25</integer>
		<key>lje-cy</key>
		<integer>-49</integer>
		<key>tshe-cy</key>
		<integer>156</integer>
		<key>ushort-cy</key>
		<integer>135</integer>
		<key>ve-cy</key>
		<integer>90</integer>
		<key>yi-cy</key>
		<integer>66</integer>
		<key>ze-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Gje-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-31</integer>
		<key>De-cy</key>
		<integer>190</integer>
		<key>Dze-cy</key>
		<integer>111</integer>
		<key>Ef-cy</key>
		<integer>156</integer>
		<key>Em-cy</key>
		<integer>111</integer>
		<key>Ereversed-cy</key>
		<integer>145</integer>
		<key>H</key>
		<integer>170</integer>
		<key>Ha-cy</key>
		<integer>170</integer>
		<key>Ia-cy</key>
		<integer>111</integer>
		<key>Ie-cy</key>
		<integer>100</integer>
		<key>Ii-cy</key>
		<integer>297</integer>
		<key>Je-cy</key>
		<integer>94</integer>
		<key>O-cy</key>
		<integer>160</integer>
		<key>Ze-cy</key>
		<integer>135</integer>
		<key>Zhe-cy</key>
		<integer>174</integer>
		<key>be-cy</key>
		<integer>100</integer>
		<key>che-cy</key>
		<integer>-31</integer>
		<key>em-cy</key>
		<integer>-82</integer>
		<key>ge-cy</key>
		<integer>35</integer>
		<key>ha-cy</key>
		<integer>-41</integer>
		<key>ia-cy</key>
		<integer>-35</integer>
		<key>iishort-cy</key>
		<integer>135</integer>
		<key>io-cy</key>
		<integer>129</integer>
		<key>kje-cy</key>
		<integer>25</integer>
		<key>lje-cy</key>
		<integer>-49</integer>
		<key>tshe-cy</key>
		<integer>156</integer>
		<key>ushort-cy</key>
		<integer>135</integer>
		<key>ve-cy</key>
		<integer>90</integer>
		<key>yi-cy</key>
		<integer>66</integer>
		<key>ze-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Ha-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-45</integer>
		<key>che-cy</key>
		<integer>-35</integer>
		<key>ha-cy</key>
		<integer>-41</integer>
	</dict>
	<key>Hardsign-cy</key>
	<dict>
		<key>Be-cy</key>
		<integer>-35</integer>
		<key>Che-cy</key>
		<integer>-35</integer>
		<key>Dzhe-cy</key>
		<integer>-35</integer>
		<key>En-cy</key>
		<integer>-35</integer>
		<key>Er-cy</key>
		<integer>-35</integer>
		<key>Ge-cy</key>
		<integer>-35</integer>
		<key>Gheupturn-cy</key>
		<integer>-35</integer>
		<key>Gje-cy</key>
		<integer>-35</integer>
		<key>I-cy</key>
		<integer>-35</integer>
		<key>Ii-cy</key>
		<integer>-35</integer>
		<key>Iishort-cy</key>
		<integer>-35</integer>
		<key>Iu-cy</key>
		<integer>-35</integer>
		<key>Ka-cy</key>
		<integer>-35</integer>
		<key>Kje-cy</key>
		<integer>-35</integer>
		<key>Nje-cy</key>
		<integer>-35</integer>
		<key>Pe-cy</key>
		<integer>-35</integer>
		<key>Sha-cy</key>
		<integer>-35</integer>
		<key>Shcha-cy</key>
		<integer>-35</integer>
		<key>Softsign-cy</key>
		<integer>-35</integer>
		<key>Tse-cy</key>
		<integer>-35</integer>
		<key>Ve-cy</key>
		<integer>-35</integer>
		<key>Yeru-cy</key>
		<integer>-35</integer>
		<key>Yi-cy</key>
		<integer>-35</integer>
		<key>numero</key>
		<integer>-35</integer>
	</dict>
	<key>I-cy</key>
	<dict>
		<key>Dje-cy</key>
		<integer>25</integer>
		<key>Hardsign-cy</key>
		<integer>25</integer>
		<key>Te-cy</key>
		<integer>25</integer>
		<key>Tshe-cy</key>
		<integer>25</integer>
	</dict>
	<key>Ia-cy</key>
	<dict>
		<key>Be-cy</key>
		<integer>70</integer>
		<key>Che-cy</key>
		<integer>70</integer>
		<key>De-cy</key>
		<integer>84</integer>
		<key>Dzhe-cy</key>
		<integer>70</integer>
		<key>En-cy</key>
		<integer>70</integer>
		<key>Er-cy</key>
		<integer>70</integer>
		<key>Ge-cy</key>
		<integer>70</integer>
		<key>Gheupturn-cy</key>
		<integer>84</integer>
		<key>Gje-cy</key>
		<integer>70</integer>
		<key>Ha-cy</key>
		<integer>70</integer>
		<key>I-cy</key>
		<integer>70</integer>
		<key>Ii-cy</key>
		<integer>70</integer>
		<key>Iishort-cy</key>
		<integer>70</integer>
		<key>Iu-cy</key>
		<integer>70</integer>
		<key>Ka-cy</key>
		<integer>70</integer>
		<key>Kje-cy</key>
		<integer>70</integer>
		<key>Nje-cy</key>
		<integer>70</integer>
		<key>Pe-cy</key>
		<integer>70</integer>
		<key>Sha-cy</key>
		<integer>70</integer>
		<key>Shcha-cy</key>
		<integer>70</integer>
		<key>Softsign-cy</key>
		<integer>70</integer>
		<key>Tse-cy</key>
		<integer>70</integer>
		<key>Ve-cy</key>
		<integer>70</integer>
		<key>Yeru-cy</key>
		<integer>70</integer>
		<key>Yi-cy</key>
		<integer>70</integer>
		<key>numero</key>
		<integer>70</integer>
	</dict>
	<key>Ie-cy</key>
	<dict>
		<key>Be-cy</key>
		<integer>49</integer>
		<key>Che-cy</key>
		<integer>49</integer>
		<key>De-cy</key>
		<integer>66</integer>
		<key>Dje-cy</key>
		<integer>59</integer>
		<key>Dzhe-cy</key>
		<integer>49</integer>
		<key>En-cy</key>
		<integer>49</integer>
		<key>Er-cy</key>
		<integer>49</integer>
		<key>Ge-cy</key>
		<integer>49</integer>
		<key>Gheupturn-cy</key>
		<integer>49</integer>
		<key>Gje-cy</key>
		<integer>49</integer>
		<key>H</key>
		<integer>35</integer>
		<key>Ha-cy</key>
		<integer>45</integer>
		<key>Hardsign-cy</key>
		<integer>59</integer>
		<key>I-cy</key>
		<integer>49</integer>
		<key>Ii-cy</key>
		<integer>49</integer>
		<key>Iishort-cy</key>
		<integer>49</integer>
		<key>Iu-cy</key>
		<integer>49</integer>
		<key>Ka-cy</key>
		<integer>49</integer>
		<key>Kje-cy</key>
		<integer>49</integer>
		<key>Nje-cy</key>
		<integer>49</integer>
		<key>O-cy</key>
		<integer>41</integer>
		<key>Pe-cy</key>
		<integer>49</integer>
		<key>Sha-cy</key>
		<integer>49</integer>
		<key>Shcha-cy</key>
		<integer>49</integer>
		<key>Softsign-cy</key>
		<integer>49</integer>
		<key>Te-cy</key>
		<integer>59</integer>
		<key>Tse-cy</key>
		<integer>49</integer>
		<key>Tshe-cy</key>
		<integer>59</integer>
		<key>U-cy</key>
		<integer>35</integer>
		<key>Ushort-cy</key>
		<integer>35</integer>
		<key>Ve-cy</key>
		<integer>49</integer>
		<key>Yeru-cy</key>
		<integer>49</integer>
		<key>Yi-cy</key>
		<integer>49</integer>
		<key>Zhe-cy</key>
		<integer>31</integer>
		<key>numero</key>
		<integer>49</integer>
		<key>yi-cy</key>
		<integer>76</integer>
	</dict>
	<key>Ii-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>Iishort-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>Io-cy</key>
	<dict>
		<key>H</key>
		<integer>41</integer>
	</dict>
	<key>Iu-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>20</integer>
		<key>De-cy</key>
		<integer>41</integer>
		<key>Ha-cy</key>
		<integer>25</integer>
		<key>ve-cy</key>
		<integer>35</integer>
	</dict>
	<key>Ka-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-25</integer>
		<key>De-cy</key>
		<integer>41</integer>
		<key>Dje-cy</key>
		<integer>51</integer>
		<key>Hardsign-cy</key>
		<integer>51</integer>
		<key>Ii-cy</key>
		<integer>61</integer>
		<key>Te-cy</key>
		<integer>51</integer>
		<key>Tshe-cy</key>
		<integer>51</integer>
		<key>yi-cy</key>
		<integer>59</integer>
	</dict>
	<key>Kje-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-25</integer>
		<key>De-cy</key>
		<integer>41</integer>
		<key>yi-cy</key>
		<integer>59</integer>
	</dict>
	<key>Lje-cy</key>
	<dict>
		<key>Nje-cy</key>
		<integer>-45</integer>
	</dict>
	<key>O-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>20</integer>
		<key>De-cy</key>
		<integer>41</integer>
		<key>Dje-cy</key>
		<integer>41</integer>
		<key>E-cy</key>
		<integer>51</integer>
		<key>Es-cy</key>
		<integer>51</integer>
		<key>Ha-cy</key>
		<integer>25</integer>
		<key>Hardsign-cy</key>
		<integer>41</integer>
		<key>Ii-cy</key>
		<integer>72</integer>
		<key>Te-cy</key>
		<integer>41</integer>
		<key>Tshe-cy</key>
		<integer>41</integer>
		<key>U-cy</key>
		<integer>61</integer>
		<key>Ushort-cy</key>
		<integer>61</integer>
		<key>em-cy</key>
		<integer>-20</integer>
		<key>ve-cy</key>
		<integer>35</integer>
	</dict>
	<key>Pe-cy</key>
	<dict>
		<key>Be-cy</key>
		<integer>59</integer>
		<key>Che-cy</key>
		<integer>59</integer>
		<key>Dzhe-cy</key>
		<integer>59</integer>
		<key>En-cy</key>
		<integer>59</integer>
		<key>Er-cy</key>
		<integer>59</integer>
		<key>Ge-cy</key>
		<integer>59</integer>
		<key>Gheupturn-cy</key>
		<integer>59</integer>
		<key>Gje-cy</key>
		<integer>59</integer>
		<key>I-cy</key>
		<integer>59</integer>
		<key>Ii-cy</key>
		<integer>59</integer>
		<key>Iishort-cy</key>
		<integer>59</integer>
		<key>Iu-cy</key>
		<integer>59</integer>
		<key>Ka-cy</key>
		<integer>59</integer>
		<key>Kje-cy</key>
		<integer>59</integer>
		<key>Nje-cy</key>
		<integer>59</integer>
		<key>O-cy</key>
		<integer>31</integer>
		<key>Pe-cy</key>
		<integer>59</integer>
		<key>Sha-cy</key>
		<integer>59</integer>
		<key>Shcha-cy</key>
		<integer>59</integer>
		<key>Softsign-cy</key>
		<integer>59</integer>
		<key>Tse-cy</key>
		<integer>59</integer>
		<key>Ve-cy</key>
		<integer>59</integer>
		<key>Yeru-cy</key>
		<integer>59</integer>
		<key>Yi-cy</key>
		<integer>59</integer>
		<key>numero</key>
		<integer>59</integer>
	</dict>
	<key>Sha-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>Shcha-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>20</integer>
		<key>Je-cy</key>
		<integer>125</integer>
		<key>er-cy</key>
		<integer>104</integer>
	</dict>
	<key>Te-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-31</integer>
		<key>Be-cy</key>
		<integer>170</integer>
		<key>Che-cy</key>
		<integer>170</integer>
		<key>De-cy</key>
		<integer>190</integer>
		<key>Dje-cy</key>
		<integer>180</integer>
		<key>Dze-cy</key>
		<integer>111</integer>
		<key>Dzhe-cy</key>
		<integer>170</integer>
		<key>Ef-cy</key>
		<integer>156</integer>
		<key>Em-cy</key>
		<integer>111</integer>
		<key>En-cy</key>
		<integer>170</integer>
		<key>Er-cy</key>
		<integer>170</integer>
		<key>Ereversed-cy</key>
		<integer>145</integer>
		<key>Ge-cy</key>
		<integer>170</integer>
		<key>Gheupturn-cy</key>
		<integer>170</integer>
		<key>Gje-cy</key>
		<integer>170</integer>
		<key>H</key>
		<integer>170</integer>
		<key>Ha-cy</key>
		<integer>170</integer>
		<key>Hardsign-cy</key>
		<integer>180</integer>
		<key>I-cy</key>
		<integer>170</integer>
		<key>Ia-cy</key>
		<integer>111</integer>
		<key>Ie-cy</key>
		<integer>100</integer>
		<key>Ii-cy</key>
		<integer>170</integer>
		<key>Iishort-cy</key>
		<integer>170</integer>
		<key>Iu-cy</key>
		<integer>170</integer>
		<key>Je-cy</key>
		<integer>94</integer>
		<key>Ka-cy</key>
		<integer>170</integer>
		<key>Kje-cy</key>
		<integer>170</integer>
		<key>Nje-cy</key>
		<integer>170</integer>
		<key>O-cy</key>
		<integer>160</integer>
		<key>Pe-cy</key>
		<integer>170</integer>
		<key>Sha-cy</key>
		<integer>170</integer>
		<key>Shcha-cy</key>
		<integer>170</integer>
		<key>Softsign-cy</key>
		<integer>170</integer>
		<key>Te-cy</key>
		<integer>180</integer>
		<key>Tse-cy</key>
		<integer>170</integer>
		<key>Tshe-cy</key>
		<integer>180</integer>
		<key>U-cy</key>
		<integer>160</integer>
		<key>Ushort-cy</key>
		<integer>160</integer>
		<key>Ve-cy</key>
		<integer>170</integer>
		<key>Yeru-cy</key>
		<integer>170</integer>
		<key>Yi-cy</key>
		<integer>170</integer>
		<key>Ze-cy</key>
		<integer>135</integer>
		<key>Zhe-cy</key>
		<integer>174</integer>
		<key>be-cy</key>
		<integer>100</integer>
		<key>che-cy</key>
		<integer>-31</integer>
		<key>el-cy</key>
		<integer>-49</integer>
		<key>em-cy</key>
		<integer>-82</integer>
		<key>ge-cy</key>
		<integer>35</integer>
		<key>gje-cy</key>
		<integer>70</integer>
		<key>ha-cy</key>
		<integer>-41</integer>
		<key>ia-cy</key>
		<integer>-35</integer>
		<key>iishort-cy</key>
		<integer>135</integer>
		<key>io-cy</key>
		<integer>129</integer>
		<key>kje-cy</key>
		<integer>25</integer>
		<key>lje-cy</key>
		<integer>-49</integer>
		<key>numero</key>
		<integer>170</integer>
		<key>tshe-cy</key>
		<integer>156</integer>
		<key>ushort-cy</key>
		<integer>135</integer>
		<key>ve-cy</key>
		<integer>90</integer>
		<key>yi-cy</key>
		<integer>66</integer>
		<key>ze-cy</key>
		<integer>-20</integer>
	</dict>
	<key>Tse-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>20</integer>
		<key>El-cy</key>
		<integer>84</integer>
		<key>Je-cy</key>
		<integer>125</integer>
		<key>Lje-cy</key>
		<integer>84</integer>
		<key>er-cy</key>
		<integer>104</integer>
	</dict>
	<key>Tshe-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-31</integer>
		<key>Be-cy</key>
		<integer>-41</integer>
		<key>Che-cy</key>
		<integer>-41</integer>
		<key>Dzhe-cy</key>
		<integer>-41</integer>
		<key>En-cy</key>
		<integer>-41</integer>
		<key>Er-cy</key>
		<integer>-41</integer>
		<key>Ge-cy</key>
		<integer>-41</integer>
		<key>Gheupturn-cy</key>
		<integer>-41</integer>
		<key>Gje-cy</key>
		<integer>-41</integer>
		<key>I-cy</key>
		<integer>-41</integer>
		<key>Ie-cy</key>
		<integer>-20</integer>
		<key>Ii-cy</key>
		<integer>-41</integer>
		<key>Iishort-cy</key>
		<integer>-41</integer>
		<key>Io-cy</key>
		<integer>-20</integer>
		<key>Iu-cy</key>
		<integer>-41</integer>
		<key>Ka-cy</key>
		<integer>-41</integer>
		<key>Kje-cy</key>
		<integer>-41</integer>
		<key>Nje-cy</key>
		<integer>-41</integer>
		<key>O-cy</key>
		<integer>-45</integer>
		<key>Pe-cy</key>
		<integer>-41</integer>
		<key>Sha-cy</key>
		<integer>-41</integer>
		<key>Shcha-cy</key>
		<integer>-41</integer>
		<key>Softsign-cy</key>
		<integer>-41</integer>
		<key>Tse-cy</key>
		<integer>-41</integer>
		<key>U-cy</key>
		<integer>-59</integer>
		<key>Ushort-cy</key>
		<integer>-59</integer>
		<key>Ve-cy</key>
		<integer>-41</integer>
		<key>Yeru-cy</key>
		<integer>-41</integer>
		<key>Yi-cy</key>
		<integer>-41</integer>
		<key>numero</key>
		<integer>-41</integer>
	</dict>
	<key>U-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>25</integer>
		<key>Em-cy</key>
		<integer>-14</integer>
		<key>Ii-cy</key>
		<integer>82</integer>
		<key>Lje-cy</key>
		<integer>-55</integer>
		<key>be-cy</key>
		<integer>-20</integer>
		<key>de-cy</key>
		<integer>-25</integer>
		<key>em-cy</key>
		<integer>-164</integer>
		<key>ha-cy</key>
		<integer>-45</integer>
		<key>ia-cy</key>
		<integer>-25</integer>
		<key>o-cy</key>
		<integer>-35</integer>
		<key>ze-cy</key>
		<integer>-31</integer>
	</dict>
	<key>Ushort-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>25</integer>
		<key>Em-cy</key>
		<integer>-14</integer>
		<key>Ii-cy</key>
		<integer>82</integer>
		<key>Lje-cy</key>
		<integer>-55</integer>
		<key>be-cy</key>
		<integer>-20</integer>
		<key>de-cy</key>
		<integer>-25</integer>
		<key>em-cy</key>
		<integer>-164</integer>
		<key>ha-cy</key>
		<integer>-45</integer>
		<key>ia-cy</key>
		<integer>-25</integer>
		<key>o-cy</key>
		<integer>-35</integer>
		<key>ze-cy</key>
		<integer>-31</integer>
	</dict>
	<key>Ve-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>25</integer>
		<key>Em-cy</key>
		<integer>-45</integer>
		<key>U-cy</key>
		<integer>-14</integer>
		<key>Ushort-cy</key>
		<integer>-14</integer>
	</dict>
	<key>Yeru-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>Yi-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>31</integer>
		<key>Ha-cy</key>
		<integer>31</integer>
		<key>Ii-cy</key>
		<integer>92</integer>
		<key>O-cy</key>
		<integer>20</integer>
		<key>hardsign-cy</key>
		<integer>45</integer>
		<key>yi-cy</key>
		<integer>45</integer>
	</dict>
	<key>Ze-cy</key>
	<dict>
		<key>De-cy</key>
		<integer>35</integer>
		<key>Em-cy</key>
		<integer>-35</integer>
	</dict>
	<key>Zhe-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>-25</integer>
		<key>De-cy</key>
		<integer>41</integer>
		<key>yi-cy</key>
		<integer>59</integer>
	</dict>
	<key>be-cy</key>
	<dict>
		<key>dje-cy</key>
		<integer>51</integer>
		<key>hardsign-cy</key>
		<integer>25</integer>
		<key>i-cy</key>
		<integer>51</integer>
		<key>tshe-cy</key>
		<integer>41</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>eight</key>
		<integer>30</integer>
		<key>five</key>
		<integer>10</integer>
		<key>seven</key>
		<integer>-40</integer>
		<key>six</key>
		<integer>10</integer>
		<key>zero</key>
		<integer>20</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>eight</key>
		<integer>4</integer>
		<key>five</key>
		<integer>28</integer>
		<key>four</key>
		<integer>-94</integer>
		<key>one</key>
		<integer>33</integer>
		<key>seven</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>-9</integer>
		<key>three</key>
		<integer>11</integer>
		<key>two</key>
		<integer>74</integer>
		<key>zero</key>
		<integer>-6</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>eight</key>
		<integer>73</integer>
		<key>five</key>
		<integer>10</integer>
		<key>four</key>
		<integer>20</integer>
		<key>nine</key>
		<integer>31</integer>
		<key>one</key>
		<integer>41</integer>
		<key>seven</key>
		<integer>41</integer>
		<key>six</key>
		<integer>51</integer>
		<key>three</key>
		<integer>18</integer>
		<key>two</key>
		<integer>22</integer>
		<key>zero</key>
		<integer>17</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>eight</key>
		<integer>23</integer>
		<key>five</key>
		<integer>12</integer>
		<key>nine</key>
		<integer>-4</integer>
		<key>one</key>
		<integer>9</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>2</integer>
		<key>six</key>
		<integer>8</integer>
		<key>three</key>
		<integer>2</integer>
		<key>two</key>
		<integer>10</integer>
		<key>zero</key>
		<integer>11</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>comma</key>
		<integer>-44</integer>
		<key>eight</key>
		<integer>47</integer>
		<key>five</key>
		<integer>10</integer>
		<key>four</key>
		<integer>37</integer>
		<key>nine</key>
		<integer>26</integer>
		<key>one</key>
		<integer>24</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>37</integer>
		<key>six</key>
		<integer>51</integer>
		<key>three</key>
		<integer>10</integer>
		<key>two</key>
		<integer>31</integer>
		<key>zero</key>
		<integer>35</integer>
	</dict>
	<key>gheupturn-cy</key>
	<dict>
		<key>dje-cy</key>
		<integer>51</integer>
		<key>dze-cy</key>
		<integer>-41</integer>
		<key>el-cy</key>
		<integer>-94</integer>
		<key>em-cy</key>
		<integer>-94</integer>
		<key>gje-cy</key>
		<integer>-29</integer>
		<key>hardsign-cy</key>
		<integer>41</integer>
		<key>ia-cy</key>
		<integer>-41</integer>
		<key>lje-cy</key>
		<integer>-88</integer>
		<key>tshe-cy</key>
		<integer>51</integer>
		<key>yi-cy</key>
		<integer>47</integer>
	</dict>
	<key>hardsign-cy</key>
	<dict>
		<key>che-cy</key>
		<integer>-18</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>eight</key>
		<integer>34</integer>
		<key>five</key>
		<integer>-4</integer>
		<key>four</key>
		<integer>31</integer>
		<key>nine</key>
		<integer>68</integer>
		<key>one</key>
		<integer>28</integer>
		<key>seven</key>
		<integer>10</integer>
		<key>six</key>
		<integer>40</integer>
		<key>three</key>
		<integer>-2</integer>
		<key>two</key>
		<integer>20</integer>
		<key>zero</key>
		<integer>43</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>colon</key>
		<integer>-70</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-25</integer>
		<key>nine</key>
		<integer>33</integer>
		<key>one</key>
		<integer>20</integer>
		<key>period</key>
		<integer>-130</integer>
		<key>seven</key>
		<integer>41</integer>
		<key>six</key>
		<integer>2</integer>
		<key>three</key>
		<integer>-8</integer>
		<key>two</key>
		<integer>20</integer>
		<key>zero</key>
		<integer>10</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-144</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-90</integer>
		<key>six</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-49</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>colon</key>
		<integer>-210</integer>
		<key>comma</key>
		<integer>-260</integer>
		<key>eight</key>
		<integer>-51</integer>
		<key>five</key>
		<integer>-54</integer>
		<key>four</key>
		<integer>-83</integer>
		<key>nine</key>
		<integer>13</integer>
		<key>one</key>
		<integer>18</integer>
		<key>period</key>
		<integer>-220</integer>
		<key>six</key>
		<integer>-49</integer>
		<key>three</key>
		<integer>-53</integer>
		<key>two</key>
		<integer>-10</integer>
		<key>zero</key>
		<integer>-53</integer>
	</dict>
	<key>shcha-cy</key>
	<dict>
		<key>je-cy</key>
		<integer>121</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>eight</key>
		<integer>59</integer>
		<key>five</key>
		<integer>14</integer>
		<key>four</key>
		<integer>11</integer>
		<key>nine</key>
		<integer>25</integer>
		<key>one</key>
		<integer>21</integer>
		<key>period</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>33</integer>
		<key>six</key>
		<integer>62</integer>
		<key>three</key>
		<integer>6</integer>
		<key>zero</key>
		<integer>29</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>Be-cy</key>
		<integer>-25</integer>
		<key>Che-cy</key>
		<integer>-25</integer>
		<key>Dzhe-cy</key>
		<integer>-25</integer>
		<key>En-cy</key>
		<integer>-25</integer>
		<key>Er-cy</key>
		<integer>-25</integer>
		<key>Ge-cy</key>
		<integer>-25</integer>
		<key>Gheupturn-cy</key>
		<integer>-25</integer>
		<key>Gje-cy</key>
		<integer>-25</integer>
		<key>I-cy</key>
		<integer>-25</integer>
		<key>Ii-cy</key>
		<integer>-25</integer>
		<key>Iishort-cy</key>
		<integer>-25</integer>
		<key>Iu-cy</key>
		<integer>-25</integer>
		<key>Ka-cy</key>
		<integer>-25</integer>
		<key>Kje-cy</key>
		<integer>-25</integer>
		<key>Nje-cy</key>
		<integer>-25</integer>
		<key>Pe-cy</key>
		<integer>-25</integer>
		<key>Sha-cy</key>
		<integer>-25</integer>
		<key>Shcha-cy</key>
		<integer>-25</integer>
		<key>Softsign-cy</key>
		<integer>-25</integer>
		<key>Tse-cy</key>
		<integer>-25</integer>
		<key>Ve-cy</key>
		<integer>-25</integer>
		<key>Yeru-cy</key>
		<integer>-25</integer>
		<key>Yi-cy</key>
		<integer>-25</integer>
		<key>numero</key>
		<integer>-25</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>eight</key>
		<integer>39</integer>
		<key>five</key>
		<integer>27</integer>
		<key>four</key>
		<integer>16</integer>
		<key>nine</key>
		<integer>15</integer>
		<key>one</key>
		<integer>10</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>20</integer>
		<key>six</key>
		<integer>14</integer>
		<key>three</key>
		<integer>14</integer>
		<key>two</key>
		<integer>20</integer>
		<key>zero</key>
		<integer>20</integer>
	</dict>
	<key>tse-cy</key>
	<dict>
		<key>je-cy</key>
		<integer>121</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>colon</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>20</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>four</key>
		<integer>-37</integer>
		<key>nine</key>
		<integer>10</integer>
		<key>one</key>
		<integer>31</integer>
		<key>six</key>
		<integer>5</integer>
		<key>three</key>
		<integer>10</integer>
		<key>two</key>
		<integer>20</integer>
		<key>zero</key>
		<integer>5</integer>
	</dict>
	<key>ve-cy</key>
	<dict>
		<key>hardsign-cy</key>
		<integer>47</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>colon</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>eight</key>
		<integer>35</integer>
		<key>five</key>
		<integer>8</integer>
		<key>four</key>
		<integer>26</integer>
		<key>nine</key>
		<integer>53</integer>
		<key>one</key>
		<integer>10</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>seven</key>
		<integer>23</integer>
		<key>six</key>
		<integer>44</integer>
		<key>two</key>
		<integer>16</integer>
		<key>zero</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
