<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_De-cy</key>
	<array>
		<string>De-cy</string>
		<string>O-cy</string>
		<string>Ereversed-cy</string>
		<string>Iu-cy</string>
	</array>
	<key>@MMK_L_E-cy</key>
	<array>
		<string>Es-cy</string>
		<string>E-cy</string>
	</array>
	<key>@MMK_L_Gje-cy</key>
	<array>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>Te-cy</string>
	</array>
	<key>@MMK_L_Kje-cy</key>
	<array>
		<string>Zhe-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
	</array>
	<key>@MMK_L_Ushort-cy</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
	</array>
	<key>@MMK_L_Yi-cy</key>
	<array>
		<string>A-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>El-cy</string>
		<string>En-cy</string>
		<string>Che-cy</string>
		<string>Sha-cy</string>
		<string>Yeru-cy</string>
		<string>Yi-cy</string>
	</array>
	<key>@MMK_R_Dje-cy</key>
	<array>
		<string>Te-cy</string>
		<string>Hardsign-cy</string>
		<string>Tshe-cy</string>
		<string>Dje-cy</string>
	</array>
	<key>@MMK_R_E-cy</key>
	<array>
		<string>Es-cy</string>
		<string>E-cy</string>
	</array>
	<key>@MMK_R_Gje-cy</key>
	<array>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>En-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Softsign-cy</string>
		<string>Yeru-cy</string>
		<string>Nje-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Iu-cy</string>
		<string>numero</string>
	</array>
	<key>@MMK_R_Ushort-cy</key>
	<array>
		<string>U-cy</string>
		<string>Ushort-cy</string>
	</array>
	<key>@MMK_R_el-cy</key>
	<array>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>lje-cy</string>
	</array>
</dict>
</plist>
